.articles_line_cont{
	position: relative;
	overflow: hidden;
	width: 950px;
	background-color: aliceblue;
	padding-top: 10px;
	padding-left: 10px;
	border-top: 4px solid #83abce;
	margin-top: 10px;
}

.articles_line_header{
	position: relative;
	overflow: hidden;
	width: 950px;
	height: 40px;
	background-color: aliceblue;
	color: #000;
	font-size: 18px;
	font-family: Verdana;
}

.articles_line_slaid{
	width: 313px;
	height: 120px;
	float: left;
}

.articles_line_img_cont{
	height: 100px;
	width: 100px;
	background-color: #F3F1F2;
	border: 1px solid #83abce;
	float: left;
}

.articles_line_name_cont{
	width: 200px;
	padding-left: 105px;
	font-family: Verdana;
}

.articles_line_footer{
	position: relative;
	overflow: hidden;
	width: 950px;
	height: 20px;
	background-color: aliceblue;
}